# git ignore file
*.user
*.tlog
*.idb
*.pdb
*.obj
*.rc
*.log
*.manifest
*.res
*.lastbuildstate
*.unsuccessfulbuild
*.suo
*.SUNWCCh
*.pl
*.ipp
*.ilk
/Whisperwind/Whisperwind_Dependencies/boost
*.dll
*.lib
*.exp
*.exe
*.html
Whisperwind/Whisperwind_Dependencies/Visual Leak Detector
Whisperwind/Whisperwind_Dependencies/FBX/include
Whisperwind/Whisperwind_Dependencies/FBX/lib
*.ib_pdb_index
*.fxo
*.cache
*.enc
/Whisperwind/bin/media
*.i
/Whisperwind/bin/media.7z